@font-face {
	font-family: : "Montserrat";
	src: url ("./fonts/monserrat-regular.woff") format("woff")
 } 
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	background: grey;
	color: white;
	opacity: 1;
	transition: all 1s ease-out
}
header:hover {
	opacity: 0;
	padding-bottom: 90px;

}
header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 10px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration:none;
	opacity: 1;
	transition: all 1s linear;
}
nav ul li a:hover {
	opacity: 0;
	padding-bottom: 90px;
}
section {
	margin:auto;
	text-align: center;
   }

section img {
	padding:40px;
	}
section img:hover {
	padding-bottom: 90px;
	opacity: 0;
	transition:opacity 2s  ease-out;
	padding-bottom: 90px;
	}
 
 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 	}
 #div1{
 	background-color: red;
 	height:100px;
 	width:100px;
 	position: relative;


 	webkit-animation: primeraAnimacion 1s infinite;
 	animation: primeraAnimacion 1s infinite;
 } 

 @-webkit-keyframes primeraAnimacion{
 
 	0%{background-color: black;}
 	25%{background-color: grey}
 	50%{background-color: black}
 	100%{background-color:grey;}
 }



section p a:hover {
    font-size: 70px;
    transition: font-size 3s linear
}

#div1{
 	background-color: red;
 	height:100px;
 	width:100px;
 	position: relative;


 	webkit-animation: primeraAnimacion 1s infinite;
 	animation: primeraAnimacion 1s infinite;
 } 

 @-moz-keyframes primeraAnimacion{
 
 	0%{background-color: black;}
 	25%{background-color: grey}
 	50%{background-color: black}
 	100%{background-color:grey;}
 }




#div1{
 	background-color: red;
 	height:100px;
 	width:100px;
 	position: relative;


 	webkit-animation: primeraAnimacion 1s infinite;
 	animation: primeraAnimacion 1s infinite;
 } 

 @-ms-keyframes primeraAnimacion{
 
 	0%{background-color: black;}
 	25%{background-color: grey}
 	50%{background-color: black}
 	100%{background-color:grey;}
 }


 p{
 	position: absolute;
 	font-size:25px;
 	color:black;
 	top:500px;
 	
 	}

 	@-webkit-keyframes MyAnimation{
 	0%{left:30px;}
 	50%{left:60px;}
 	100%{left:300px;}
 	}
 	@keyframes MyAnimation{
 	0%{left:30px;}
 	50%{left:300px;}
 	100%{left:60px;}
 	}
 	p{
 	webkit-animation:MyAnimation 4s infinite;
 	animation: MyAnimation 4s infinite;
 	}
 	section h2 {
    color: #1abc9c ;
    text-decoration: none;
    transition: font-size 3s linear;
    }